getPlayerLanguage="You are in english."
setPlayerLanguage="You are now in english."
getDefaultLanguage="The default language is in english."
setDefaultLanguage="The default language is now in english."
commandValueNotValid="The value {value} is not valid."
commandNotComplete="You have to set a value for {alias}."
commandInvalid="This is not a command."
commandRequirePermission="You don't have the permission to do this command."
reloadFiles="The files have been reloaded."
reloadFile="The file {file} has been reloaded."
reloadFileError="An error happened while loading the file {file}."
saveFile="The file {file} has been saved."
saveFileError="An error happened while saving the file {file}."
setFileFormat="The file type of {file} is now {format}."
notifyNewRelease="The version {version} is now available for the plugin {plugin}, {clickHereUrl} to get it. To stop receiving this message {clickHereStop}."
clickHere="click here"