getPlayerLanguage="You are in english."
setPlayerLanguage="You are now in english."
getDefaultLanguage="The default language is in english."
setDefaultLanguage="The default language is now in english."
commandValueNotValid="The value {value} is not valid."
commandNotComplete="You have to set a value for {alias}."
commandInvalid="This is not a command."
commandRequirePermission="You don't have the permission to do this command."
reloadFiles="The files have been reloaded."
reloadFile="The file {file} has been reloaded."
reloadFileError="An error happened while loading the file {file}."
saveFile="The file {file} has been saved."
saveFileError="An error happened while saving the file {file}."
setFileFormat="The file type of {file} is now {format}."
setReceiveNotificationPluginsTrue="You will receive notifications about the plugins updates."
setReceiveNotificationPluginsFalse="You won't receive notifications about the plugins updates."
setReceiveNotificationTranslationsTrue="You will receive notifications about the new translations."
setReceiveNotificationTranslationsFalse="You won't receive notifications about the new translations."
clickHere="click here"
clickDownload="Download"
fileUpdateHeader="Files updates"
fileUpdateRow="  - {plugin} {nbFile} file(s). {clickDownload}."
fileUpdateDownloadFinished="The file(s) for {plugin} have been downloaded."
fileUpdateDownloadNoFile="There is no file to download."
noFileUpdate="There is no file to update."
pluginUpdateHeader="Plugins updates"
pluginUpdateRow="  - {plugin} {version}. To get it {clickHere}."
noPluginUpdate="There is no plugin to update."