getPlayerLanguage="Vous êtes en français."
setPlayerLanguage="Vous êtes maintenant en français."
getDefaultLanguage="Le langage par défaut est en français."
setDefaultLanguage="Le langage par défaut est maintenant en français."
commandValueNotValid="La valeur {value} n'est pas valide."
commandNotComplete="Vous devez spécifier une valeur pour {alias}."
commandRequirePermission="Vous n'avez pas la permission pour faire cette commande."
reloadFiles="Les fichiers ont été rechargés."
reloadFile="Le fichier {file} a été rechargé."
reloadFileError="Une erreur est survenue lors du chargement du fichier {file}."
saveFile="Le fichier {file} a été sauvegardé."
saveFileError="Une erreur est survenue lors de la sauvegarde du fichier {file}."
setFileFormat="Le fichier {file} est maintenant dans le format {format}."
clickHere="cliquer ici"